

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
	height: 100%;
	margin: 0;
}

body {
	padding: 0;
}

.view-block {
	height: 100vh;
	min-height: 100% !important;
	width: 100%;
}

.view-block h1 {
	margin: 0;
	color: rgb(171, 65, 51);
}

.odd {
	background-color: black;
}

.even {
	background-color: white;
}

.header-container {
	margin-top: 65px;
}

.header-container h1 {
	margin-left: 25px;
}

/* /////////////// NAVBAR /////////////// */

.navbar {
	/* IMPORTANT!! */
	border-radius: 0 !important;
	margin: 0 !important;
}

.navbar-nav > .active > a {
  color: rgb(171, 65, 51) !important;
  background-color: transparent !important;
}

.sticky {
    position: fixed !important;
    width: 100%;
    left: 0;
    top: 0 !important;;
    z-index: 100;
    border-top: 0;
    margin:10px;
}

/* /////////////// NAVBAR END /////////////// */



/* /////////////// MODAL /////////////// */

.modal {
	/* IMPORTANT!! */
	top: 20% !important;
}

.modal-body {
	/* IMPORTANT!! */
	padding: 30px !important;
	height: 100%;
	background-color: rgb(255, 245, 236);
	border: 10px solid black;
	box-sizing: border-box;
	top: 5%;
}

/* /////////////// MODAL END /////////////// */



/* /////////////// GALLERY BLOCK /////////////// */

.carousel-inner {
	height: 100vh !important;
	min-height: 100% !important;
}

/* /////////////// END /////////////// */



/* /////////////// LOFTS BLOCK /////////////// */

#lofts {
	background-color: white;
}

/* /////////////// END /////////////// */



/* /////////////// RESIDENTS BLOCK /////////////// */
#residents {
	background-color: gray;
}

.faq-box-container {
	margin-top: 60px;
}

.faq-box {
	background-color: black;
	margin: 20px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.faq-box a:hover, .faq-box a:visited, .faq-box a:link, .faq-box a:active {
	text-decoration: none;
}

.faq-box h1 {
	color: white;
	font-size: 32px;
	text-align: center;
}
/* /////////////// END /////////////// */

/* /////////////// TEAM BLOCK /////////////// */

#team {
	background-color: yellow;
}

.team-box-container {
	margin-top: 80px;
}

.team-box {
	background-color: rgb(255, 245, 236);
	border: 13px solid black;
	margin: 20px;
	height: 220px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.team-box h1 {
	color: black;
	font-size: 32px;
	text-align: center;
}

.team-box a:hover, .team-box a:visited, .team-box a:link, .team-box a:active {
	text-decoration: none;
}

/* /////////////// END /////////////// */





