

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.view-block {
	height: 100vh;
	width: 100%;
}

.view-block h1 {
	margin: 0;
}

.first {
	background-color: black;
}

.second {
	background-color: white;
}

.third {
	background-color: black;
}











