

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	padding: 0;
}

.view-block {
	height: 100vh;
	width: 100%;
}

.view-block h1 {
	margin: 0;
	color: rgb(171, 65, 51);
}

/* /////////////// NAVBAR /////////////// */

.navbar {
	/* IMPORTANT!! */
	border-radius: 0 !important;
	margin: 0 !important;;
}

.navbar-fixed {
	position: fixed;
	top: -48px;
}

/* /////////////// NAVBAR END /////////////// */

.odd {
	background-color: black;
}

.even {
	background-color: white;
}

.header-container {
	margin-top: 20px;
}

/* /////////////// MODAL /////////////// */

.modal {
	/* IMPORTANT!! */
	top: 20% !important;
}

.modal-body {
	/* IMPORTANT!! */
	padding: 30px !important;
	height: 100%;
	background-color: rgb(255, 245, 236);
	border: 10px solid black;
	box-sizing: border-box;
	top: 5%;
}

/* /////////////// MODAL END /////////////// */

/* /////////////// LOFTS BLOCK /////////////// */

#lofts {

}

/* /////////////// END /////////////// */

/* /////////////// GALLERY BLOCK /////////////// */


/* /////////////// END /////////////// */

/* /////////////// RESIDENTS BLOCK /////////////// */
#residents {
	background-color: white;
}


.faq-box-container {
	margin-top: 30px;
}

.faq-box {
	background-color: black;
	margin: 20px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

/* get rid of text decoration on link */
.faq-box a:hover, .faq-box a:visited, .faq-box a:link, .faq-box a:active {
	text-decoration: none;
}

.faq-box h1 {
	color: white;
	font-size: 32px;
	text-align: center;
}
/* /////////////// END /////////////// */

/* /////////////// TEAM BLOCK /////////////// */

#team {
	background-color: white;
}

.team-box-container {
	margin-top: 50px;
}

.team-box {
	background-color: rgb(255, 245, 236);
	border: 13px solid black;
	margin: 20px;
	height: 220px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.team-box h1 {
	color: black;
	font-size: 32px;
	text-align: center;
}

.team-box a:hover, .team-box a:visited, .team-box a:link, .team-box a:active {
	text-decoration: none;
}

/* /////////////// END /////////////// */





