@media only screen and (max-width: 991px) {

	.header-container {
		margin-top: 0px;
	}

	.header-container h1 {
		margin-top: 25px;
		font-size: 36px;
	}

	/* /////////////// NAVBAR /////////////// */



	/* /////////////// NAVBAR END /////////////// */



	/* /////////////// MODAL /////////////// */



	/* /////////////// MODAL END /////////////// */




	/* /////////////// LOCATION BLOCK /////////////// */


	/* /////////////// END /////////////// */



	/* /////////////// GALLERY BLOCK /////////////// */



	/* /////////////// END /////////////// */



	/* /////////////// LOFTS BLOCK /////////////// */



	/* /////////////// END /////////////// */



	/* /////////////// RESIDENTS BLOCK /////////////// */

	.faq-box-container {
		margin-top: 40px;
	}

	.faq-box {
		height: 50px;
	}

	.faq-box h1 {
		font-size: 25px;
	}

	/* /////////////// END /////////////// */

	/* /////////////// TEAM BLOCK /////////////// */

	.team-box-container {
		margin-top: 40px;
	}

	.team-box {
		border: 7px solid black;
		height: 130px;
		margin: 10px;
	}

	/* /////////////// END /////////////// */



	/* /////////////// CONTACT BLOCK /////////////// */

	#contact {
		height: auto !important;
		min-height: auto !important;
	}

	.contact-container {
		padding: 0 !important;
	}

	.contact-right {
		display: none;
	}

	/* /////////////// END /////////////// */
}
